<script>window.currentCollection = 'projects';</script>
<script src="/assets/js/feed.js"></script>

{% include category-buttons.html source=site.projects %}

{% assign id = 0 %}
{% for project in site.projects reversed %}
{% assign id = id | plus:1 %}
<div class="block note-cards">
    <div class="box-feed" id="{{ id }}" categories="{{ project.category }}" style="cursor: default;">
        <h4>{{ project.title }}</h4>
        <div class="content">
            <p style="margin: 0px;">
                {{ project.content }}
            </p>
        </div>
        <ul class="tags">
          <li style="padding: 0 5px;" class="tag"><b>{{ project.category }}</b></li>
          {%- for date in project.dates -%}
              <li style="padding: 0 5px; margin-left: 5px" class="tag">{{ date | date: "%b %Y" }} </li>
          {%- endfor -%}
          <li style="padding: 0 5px; margin-left: 5px" class="tag"><i>{{ project.season }}</i></li>
      </ul>
    </div>
</div>
{% endfor %}
