{% comment %}
Use liquid to get an the number of notes in the site
{% endcomment %}

{%- assign i = 0 -%}
{%- for post in site.notes -%}
    {%- unless post.season == "autumn" or post.lang != "en" -%}
    {%- assign i = i | plus: 1 -%}
    {%- endunless -%}
{%- endfor -%}

<script>

  const comingFromPost = document.referrer;

  const allPosts =
    [{%- for post in site.notes -%}
    {%- unless post.season == "autumn" or post.lang != "en" -%}
      {%- assign i = i | minus: 1 -%}
      "{{ site.url }}{{ post.url }}"{%- unless i == 0 -%},{%- endunless -%}
    {%- endunless -%}
    {%- endfor -%}];

  function linkToRandomPost() {
      const randomPostLink = allPosts[Math.floor(Math.random() * allPosts.length)];
      return randomPostLink;
  }

  location.replace(linkToRandomPost())

</script>
